{% extends "layout.html" %}

{% block title %}
    {% if user %}Edit User{% else %}Add New User{% endif %}
{% endblock title %}

{% block body %}

{% include "toast.html" with messages=messages %}

<div class="container mx-auto my-12 px-6">
    <div class="text-start mb-8">
        <h1 class="text-3xl font-bold text-gray-900">{% if user %}Edit User{% else %}Add New User{% endif %}</h1>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-8 border border-gray-200">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-medium mb-2">Username</label>
                {{ form.username}}
            </div>
            <div class="mb-4">
                <label for="first_name" class="block text-gray-700 font-medium mb-2">First Name</label>
                {{ form.first_name }}
            </div>
            <div class="mb-4">
                <label for="last_name" class="block text-gray-700 font-medium mb-2">Last Name</label>
                {{ form.last_name }}
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-4">
                <label for="permissions" class="block text-gray-700 font-medium mb-2">Permissions</label>
                {{ form.permissions }}
            </div>
            <div class="mb-4">
                <label for="role" class="block text-gray-700 font-medium mb-2">Role</label>
                {{ form.role}}
            </div>
            <div class="mb-4">
                <label for="status" class="block text-gray-700 font-medium mb-2">Status</label>
                {{ form.is_active }}
            </div>

            <div class="flex justify-end gap-4">
                <a href="{% url 'user-management' %}" class="bg-slate-300 hover:bg-slate-200 text-white rounded-lg py-2 px-4">Cancel</a>
                {% if can_create %}
                    <button type="submit" class="bg-blue-600 hover:bg-blue-500 text-white rounded-lg py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">{% if user %}Update User{% else %}Add User{% endif %}</button>
                {% else %}
                    <p class="text-red-600 font-semibold">You do not have permission to add or update users.</p>
                {% endif %}
            </div>
            
        </form>
    </div>
</div>
{% endblock body %}
