{% extends "layout/base.html" %}

{% block title %}
    User Management
{% endblock title %}

{% block body %}
{% load static %}

<div class="container mx-auto my-12 px-6">
    <div class="text-start mb-8">
        <h1 class="text-3xl font-bold text-white">User Management</h1>
    </div>

    <!-- Navigator -->
    {% include "layout/navigator.html" with pageInfo="Here you can view and manage your users." %}
        
    <div class="bg-cyan-900 shadow-lg rounded-lg p-8 border border-cyan-950">
        <div class="mb-5 flex justify-between items-center">
            <form method="GET" action="" class="flex items-center gap-3 ">
                <div class="flex">
                    <input type="text" name="q" placeholder="Search users..." value="{{ request.GET.q }}" class="py-2 px-4 shadow-sm border border-gray-300 w-64 focus:ring-1 focus:border-cyan-500 rounded-l-lg" />
                    <select name="status" class="w-48 border border-gray-300 rounded-r-lg py-2 px-4 bg-white text-gray-700 focus:ring-1 focus:border-cyan-500">
                        <option value="">Filter by</option>
                        <option value="active" {% if request.GET.status == "active" %}selected{% endif %}>Active</option>
                        <option value="inactive" {% if request.GET.status == "inactive" %}selected{% endif %}>Inactive</option>
                    </select>
                </div>
                <button type="submit" class="flex gap-2 items-center text-white font-bold bg-cyan-700 hover:bg-cyan-600 rounded-lg px-2 py-2">
                    <img src="{% static 'images/search.png' %}" alt="Search" class="size-6 text-white" /><span>Search</span>
                </button>
            </form>
            <a href="{% url 'add-user' %}" class="flex gap-2 items-center bg-emerald-600 hover:bg-emerald-700 text-white font-medium rounded-lg py-2 px-4">
                <img src="{% static 'images/user.png' %}" class="size-6 inline-flex" alt="" srcset="">
                 New User
            </a>
        </div>
        {% if perms.auth.view_user %}
            {% if users %}
                <div class="overflow-auto">
                    <table class="min-w-full leading-normal rounded-lg overflow-hidden bg-slate-100 text-left">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">ID</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Username</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Email</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Joining Date </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Last Login</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Type</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Status</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="px-5 py-3 border-b border-gray-200 text-blue-500 font-bold"><a href="{% url "user-profile" user.id %}">{{ user.id }}</a></td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ user.username }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ user.email }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ user.date_joined|date:"d-M-Y" }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ user.last_login|date:"D d-M-Y h:i"|default:"Not Available" }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">
                                        {% if user.is_superuser %}
                                            <span class="bg-orange-600 rounded-full py-1.5 px-3 text-white">Admin</span>
                                        {% else %}
                                            <span class="bg-gray-600 rounded-full py-1.5 px-3 text-white">Local</span>
                                        {% endif %}
                                    </td>
                                    <td class="px-5 py-3 border-b border-gray-200">
                                        {% if user.is_active %}
                                            <span class="bg-green-600 rounded py-1.5 px-3 text-white">Active</span>
                                        {% else %}
                                            <span class="bg-red-600 rounded py-1.5 px-3 text-white">Inactive</span>
                                        {% endif %}
                                    </td>
                                    <td class="flex px-5 py-3 border-b border-gray-200 z-50">
                                        <a href="{% url 'edit-user' user.id %}" class="text-blue-600 hover:underline">
                                            <img src="{% static 'images/edit-user.png' %}" class="size-9 p-2 rounded-full hover:bg-slate-200" alt="" srcset="">
                                        </a>
                                        <a href="#" onclick="showModal('{{ user.id }}')" class="text-red-600 hover:underline ml-3">
                                            <img src="{% static 'images/delete.png' %}" class="size-9 p-2 rounded-full hover:bg-slate-200" alt="" srcset="">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="text-center mt-10 border rounded-lg p-6 bg-white">
                    <p class="text-gray-700 mb-6 text-3xl font-semibold">No Users Found</p>
                    <p class="text-gray-500 mb-8">There are no users in the system. You can add a new user by clicking the button below.</p>
                    <a href="{% url 'add-user' %}" class="inline-flex items-center bg-green-700 hover:bg-green-600 hover:-translate-y-1 text-white font-semibold rounded-lg py-2 px-3 transition duration-300 ease-in-out shadow-md hover:shadow-lg">
                        Add New User
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="text-center mt-5 border rounded-lg p-5 bg-slate-100">
                <div class="flex justify-center">
                    <img src="{% static 'images/permission-error.png' %}" class="mx-auto my-3" width="100" height="100" alt="Permission Denied">
                </div>
                <p class="text-red-700 mb-6 text-3xl font-semibold">Permission Denied</p>
                <p class="text-gray-500 mb-8">You do not have permission to view users. Please contact your administrator if you believe this is an error.</p>
            </div>
        {% endif %} 
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div id="deleteModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg p-6 w-full max-w-xl">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Delete User</h2>
        <form id="deleteForm" method="post">
            {% csrf_token %}
            {% if perms.auth.delete_user %}
                <p class="text-gray-600 mb-6">Are you sure you want to delete this user? This action cannot be undone.</p>
                <div class="flex justify-end gap-4">
                    <button type="button" onclick="hideModal()" class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded">
                        Cancel
                    </button>
                    <button type="submit" class="bg-red-600 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">
                        Delete
                    </button>
                </div>
            {% else %}
                <div class="text-center mt-5 border rounded-lg p-5 bg-slate-100">
                    <div class="flex justify-center">
                        <img src="{% static 'images/permission-error.png' %}" class="mx-auto my-3" width="100" height="100" alt="Permission Denied">
                    </div>
                    <p class="text-red-700 mb-6 text-3xl font-semibold">Permission Denied</p>
                    <p class="text-gray-500 mb-8">You do not have permission to delete users. Please contact to administrator.</p>
                </div>
                <button type="button" onclick="hideModal()" class="bg-gray-300 mt-3 float-end hover:bg-gray-200 text-white font-bold py-2 px-4 rounded">
                    Cancel
                </button>
            {% endif %}
        </form>
    </div>
</div>

<script>
    function showModal(userId) {
        const modal = document.getElementById('deleteModal');
        const form = document.getElementById('deleteForm');
        form.action = "{% url 'delete-user' 0 %}".replace("0", userId);
        modal.classList.remove('hidden');
    }

    function hideModal() {
        const modal = document.getElementById('deleteModal');
        modal.classList.add('hidden');
    }
</script>
{% endblock body %}
