{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    User Profile
{% endblock title %}

{% block body %}
<div class="container mx-auto my-12 px-6">
    <div class="text-start mb-8">
        <h1 class="text-3xl font-bold text-white">{{ user.username|title }}'s Profile</h1>
    </div>
    <div class="flex flex-col md:flex-row gap-5 justify-between mb-4 bg-slate-200 border rounded-lg py-3 px-6">
        <p class="text-gray-600 mt-2 text-lg">Here you can view user information and their permissions.</p>
        <div class="flex gap-4 justify-center items-center">
            <a href="{% url 'dashboard' %}" class="bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300 ease-in-out">
                Dashboard
            </a>
            <a href="{% url 'user-management' %}" class="bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300 ease-in-out">
                Back
            </a>
        </div>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-8 border border-gray-200">
        <div class="flex items-center mb-8">
            <img src="{% static 'images/user.png' %}" alt="{{ user.username }}" class="rounded-full h-24 w-24 mr-6">
            <div>
                <h2 class="text-2xl font-bold text-gray-900">{{ user.get_full_name|default:user|title }}</h2>
                <p class="text-gray-600">{{ user.email }}</p>
                <p class="text-gray-600">Role: {{ user.role|default:"Not Available" }}</p>
                <p class="text-gray-600">Status: 
                    {% if user.is_active %}
                        <span class="text-green-600">Active</span>
                    {% else %}
                        <span class="text-red-600">Inactive</span>
                    {% endif %}
                </p>
            </div>
        </div>
        
        <!-- Permissions Section -->
        <div class="mt-8">
            <h3 class="text-xl font-bold text-gray-900 mb-4">Permissions</h3>
            {% for perm in user.get_all_permissions %}
                {% if perm in specific_permissions %}
                    <li>{{ perm|capfirst }}</li>
                {% endif %}
            {% endfor %}
        </div>

        <div class="mt-6">
            <a href="{% url 'edit-user' user.id %}" class="bg-cyan-600 hover:bg-cyan-500 text-white font-medium rounded-lg py-2 px-4">Edit Profile</a>
            <a href="{% url 'user-management' %}" class="ml-4 bg-gray-300 hover:bg-gray-200 text-white font-medium rounded-lg py-2 px-4">Back to User Management</a>
        </div>
    </div>
</div>
{% endblock body %}
