{% extends "layout/base.html" %}

{% block title %} 
    Analytics
{% endblock title %}

{% block body %}
{% load static %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-start mb-8">
            <h1 class="text-3xl font-bold text-white">Analytics</h1>
        </div>
        <div class="flex justify-between mb-4 backdrop-blur-3xl border border-cyan-900 bg-cyan-950 rounded-lg py-3 px-6">
            <p class="flex items-center text-emerald-500 border-l-8 border-yellow-500 pl-4">Here you can view the graphical representation of all comparisons.</p>
            <div class="flex items-center gap-4">
                <a href="{% url "dashboard" %}" class="bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out">
                    Back
                </a>
            </div>
        </div>
        <div class="shadow-2xl border-cyan-900 flex flex-col gap-4 backdrop-blur-3xl p-8 rounded-lg bg-cyan-900">
        <!-- Chart Containers -->
            <div class="flex justify-between gap-4">
                <div class="w-72 px-8 py-4 rounded-lg shadow-md bg-yellow-500">
                    <p class="text-2xl text-center font-bold mb-2 text-white">Total Comparisons</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{total_comparisons}}</div>
                    </div>
                </div>
                <div class="w-72 px-8 py-4 rounded-lg shadow-md bg-rose-700">
                    <p class="text-2xl text-center font-bold mb-2 text-white">Failed Comparisons</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{failed_reports}}</div>
                    </div>
                </div>
                <div class="w-72 px-8 py-4 rounded-lg shadow-md bg-green-700">
                    <p class="text-2xl text-center font-bold mb-2 text-white">All Users</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{ total_users }}</div>
                    </div>
                </div>
                <div class="w-72 px-8 py-4 rounded-lg shadow-md bg-emerald-700">
                    <p class="text-2xl text-center font-bold mb-2 text-white">Successful Comparisons</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{total_comparisons}}</div>
                    </div>
                </div>
                <div class="w-72 px-8 py-4 rounded-lg shadow-md bg-cyan-500">
                    <p class="text-2xl text-center font-bold mb-2 text-white">Feedbacks</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{user_feedbacks}}</div>
                    </div>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Total Files</p>
                    <canvas id="myChartBar"></canvas>
                </div>
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">All Comparisions</p>
                    <canvas id="myChartBubble"></canvas>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Verified Reports</p>
                    <canvas id="myChartPie"></canvas>
                </div>
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Successfull Comparison</p>
                    <canvas id="myChartPolar"></canvas>
                </div>
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Comparision Reports</p>
                    <canvas id="myDoughnutChart"></canvas>
                </div>
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Compared Reports</p>
                    <canvas id="myChartRadar"></canvas>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Compared Documents</p>
                    <canvas id="lollipopChart"></canvas>
                </div>
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Mixed Chart</p>
                    <canvas id="myChartMixed"></canvas>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Bubble Chart</p>
                    <canvas id="myChartBubbleExtended"></canvas>
                </div>
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Horizontal Bar Chart</p>
                    <canvas id="myChartHorizontalBar"></canvas>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let data = {{total_files|safe}};
            let allcomparison_data = {{total_files|safe}};

            // Bar Chart
            var ctxBar = document.getElementById('myChartBar').getContext('2d');
            new Chart(ctxBar, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Files',
                        data: data.values,
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.5)',
                            'rgba(0, 120, 215, 0.5)',
                            'rgba(66, 133, 33, 0.5)',
                            'rgba(234, 67, 53, 0.5)',
                            'rgba(12, 0, 128, 0.5)',
                            'rgba(128, 18, 12, 0.5)',
                            'rgba(128, 0, 128, 0.5)',
                            'rgba(135, 206, 235, 0.5)',
                            'rgba(112, 128, 144, 0.5)',
                            'rgba(255, 255, 0, 0.5)', 
                            ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)', 
                            ],
                        borderWidth: 2
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            title: { display: true, text: 'File Types' }
                        },
                        y: {
                            beginAtZero: true,
                            title: { display: true, text: 'Files' },
                            ticks: {
                                callback: function(value) {
                                    return Math.round(value); // Rounds to the nearest integer
                                },
                                stepSize: 1
                            }
                        }
                    }
                }
            });

            var ctxBubble = document.getElementById('myChartBubble').getContext('2d');
            new Chart(ctxBubble, {
                type: 'bubble',
                data: {
                    labels: {{ all_comparisons.labels|safe }},  // Labels for the x-axis
                    datasets: [{
                        //label: 'All Comparisions',
                        data: {{ all_comparisons.values|safe }}.map((value, index) => ({
                            x: index,  // Use index as the x position
                            y: value,
                            r: 10 // Bubble radius
                        })),
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.5)',
                            'rgba(0, 120, 215, 0.5)',
                            'rgba(66, 133, 33, 0.5)',
                            'rgba(234, 67, 53, 0.5)',
                            'rgba(12, 0, 128, 0.5)',
                            'rgba(128, 18, 12, 0.5)',
                            'rgba(128, 0, 128, 0.5)',
                            'rgba(135, 206, 235, 0.5)',
                            'rgba(112, 128, 144, 0.5)',
                            'rgba(255, 255, 0, 0.5)', 
                        ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            type: 'category',  // Set x-axis to use categories
                            labels: {{ all_comparisons.labels|safe }},  // Use the labels from your data
                            title: { display: true, text: 'File Types' }  // Adjust the title if needed
                        },
                        y: {
                            beginAtZero: true,
                            title: { display: true, text: 'Comparisons' },
                            ticks: {
                                callback: function(value) {
                                    return Math.round(value);  // Round values to integers
                                },
                                stepSize: 1
                            }
                        }
                    }
                }
            });

            
            var ctxPie = document.getElementById('myChartPie').getContext('2d');
            new Chart(ctxPie, {
                type: 'pie',
                data: {
                    labels: {{ all_comparisons.labels|safe }},  // Labels for each segment
                    datasets: [{
                        label: 'Verified Reports',
                        data: {{ all_comparisons.values|safe }},  // Data values for each segment
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.5)',
                            'rgba(0, 120, 215, 0.5)',
                            'rgba(66, 133, 33, 0.5)',
                            'rgba(234, 67, 53, 0.5)',
                            'rgba(12, 0, 128, 0.5)',
                            'rgba(128, 18, 12, 0.5)',
                            'rgba(128, 0, 128, 0.5)',
                            'rgba(135, 206, 235, 0.5)',
                            'rgba(112, 128, 144, 0.5)',
                            'rgba(255, 255, 0, 0.5)', 
                        ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: true }
                    }
                }
            });
            // Polar Area Chart
            var ctxPolar = document.getElementById('myChartPolar').getContext('2d');
            new Chart(ctxPolar, {
                type: 'polarArea',
                data: {
                    labels: {{ all_comparisons.labels|safe }},
                    datasets: [{
                        label: 'Successfull Comperison',
                        data: {{ all_comparisons.values|safe }},
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.5)',
                            'rgba(0, 120, 215, 0.5)',
                            'rgba(66, 133, 33, 0.5)',
                            'rgba(234, 67, 53, 0.5)',
                            'rgba(12, 0, 128, 0.5)',
                            'rgba(128, 18, 12, 0.5)',
                            'rgba(128, 0, 128, 0.5)',
                            'rgba(135, 206, 235, 0.5)',
                            'rgba(112, 128, 144, 0.5)',
                            'rgba(255, 255, 0, 0.5)', 
                            ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)', 
                            ],
                        borderWidth: 2
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: true }
                    }
                }
            });

            // Polar Area Chart
            var ctxDoughnut = document.getElementById('myDoughnutChart').getContext('2d');
            new Chart(ctxDoughnut, {
                type: 'doughnut',
                data: {
                    labels: {{ all_comparisons.labels|safe }},
                    datasets: [{
                        label: 'Comparison reports',
                        data: {{ all_comparisons.values|safe }},
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.5)',
                            'rgba(0, 120, 215, 0.5)',
                            'rgba(66, 133, 33, 0.5)',
                            'rgba(234, 67, 53, 0.5)',
                            'rgba(12, 0, 128, 0.5)',
                            'rgba(128, 18, 12, 0.5)',
                            'rgba(128, 0, 128, 0.5)',
                            'rgba(135, 206, 235, 0.5)',
                            'rgba(112, 128, 144, 0.5)',
                            'rgba(255, 255, 0, 0.5)', 
                        ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: true }
                    }
                }
            });

            var ctxRadar = document.getElementById('myChartRadar').getContext('2d');
            new Chart(ctxRadar, {
                type: 'radar',
                data: {
                    labels: {{ all_comparisons.labels|safe }},
                    datasets: [{
                        label: 'Compared Reports',
                        data: {{ all_comparisons.values|safe }},
                        backgroundColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)', 
                            ],
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false }
                    }
                }
            });

            // ----------------------------------------------------------------------

            // Scatter Chart
            var ctx = document.getElementById('lollipopChart').getContext('2d');
        var lollipopChart = new Chart(ctx, {
            type: 'bar',  // Base type to be used for lollipop lines
            data: {
                labels: data.labels,  // Labels for each data point
                datasets: [
                    {
                        type: 'bar',  // For the lollipop lines
                        data: data.values,  // Y values of the lollipop lines
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.5)',
                            'rgba(0, 120, 215, 0.5)',
                            'rgba(66, 133, 33, 0.5)',
                            'rgba(234, 67, 53, 0.5)',
                            'rgba(12, 0, 128, 0.5)',
                            'rgba(128, 18, 12, 0.5)',
                            'rgba(128, 0, 128, 0.5)',
                            'rgba(135, 206, 235, 0.5)',
                            'rgba(112, 128, 144, 0.5)',
                            'rgba(255, 255, 0, 0.5)'
                        ],
                        barThickness: 5,  // Thickness of the lollipop lines
                        categoryPercentage: 1.0,
                        barPercentage: 1.0,
                        datalabels: { // Optional: to show values on the lines
                            display: false
                        }
                    },
                    {
                        type: 'scatter',  // For the lollipop tops
                        data: data.values,  // Data points for the lollipop tops
                        backgroundColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)'
                        ],
                        borderWidth: 1,
                        radius: 10,  // Size of the points
                        pointStyle: 'circle',  // Shape of the points
                        datalabels: { // Optional: to show values on the points
                            display: true,
                            color: 'black'
                        }
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'File Types'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Values'
                        },
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false  ,
                        //position: 'top'
                    },
                    datalabels: { // Optional: to show labels on top of each lollipop
                        color: 'black',
                        display: true,
                        anchor: 'end',
                        align: 'top',
                        formatter: function(value) {
                            return value;
                        }
                    }
                }
            }
        });

            // Area Chart
            var ctxArea = document.getElementById('myChartMixed').getContext('2d');
            new Chart(ctxArea, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        //label: 'Area Chart Data',
                        data: data.values,
                        fill: false,
                        backgroundColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)'
                        ],
                        borderColor: 'rgba(10, 150, 150, 0.5)', 
                        borderWidth: 6,
                        radius: 2   ,  // Size of the points
                        pointStyle: 'circle',  // Shape of the points
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            title: { display: true, text: 'File Types' }
                        },
                        y: {
                            title: { display: true, text: 'Values' },
                            beginAtZero: true
                        }
                    }
                }
            });

            // Mixed Chart
            var ctxMixed = document.getElementById('myChartBubbleExtended').getContext('2d');
            new Chart(ctxMixed, {
                type: 'mixed',
                data: {
                    datasets: [
                        {
                            type: 'line',
                            data: data.values,
                            borderColor:'rgba(100, 100, 100, 0.5)',
                            backgroundColor: [
                                'rgba(224, 60, 49, 1)',
                                'rgba(0, 120, 215, 1)',
                                'rgba(66, 133, 33, 1)',
                                'rgba(234, 67, 53, 1)',
                                'rgba(12, 0, 128, 1)',
                                'rgba(128, 18, 12, 1)',
                                'rgba(128, 0, 128, 1)',
                                'rgba(135, 206, 235, 1)',
                                'rgba(112, 128, 144, 1)',
                                'rgba(255, 255, 0, 1)'
                            ],
                            fill: false
                        },
                        {
                            type: 'bar',
                            data: data.values,
                            backgroundColor:  [
                                'rgba(224, 60, 49, 1)',
                                'rgba(0, 120, 215, 1)',
                                'rgba(66, 133, 33, 1)',
                                'rgba(234, 67, 53, 1)',
                                'rgba(12, 0, 128, 1)',
                                'rgba(128, 18, 12, 1)',
                                'rgba(128, 0, 128, 1)',
                                'rgba(135, 206, 235, 1)',
                                'rgba(112, 128, 144, 1)',
                                'rgba(255, 255, 0, 1)'
                            ],
                            borderColor:[
                                'rgba(224, 60, 49, 1)',
                                'rgba(0, 120, 215, 1)',
                                'rgba(66, 133, 33, 1)',
                                'rgba(234, 67, 53, 1)',
                                'rgba(12, 0, 128, 1)',
                                'rgba(128, 18, 12, 1)',
                                'rgba(128, 0, 128, 1)',
                                'rgba(135, 206, 235, 1)',
                                'rgba(112, 128, 144, 1)',
                                'rgba(255, 255, 0, 1)'
                            ],
                            borderWidth: 1
                        }
                    ],
                    labels: data.labels
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            title: { display: true, text: 'File Types' }
                        },
                        y: {
                            title: { display: true, text: 'Values' },
                            beginAtZero: true
                        }
                    }
                }
            });

            // Horizontal Bar Chart
            var ctxHorizontalBar = document.getElementById('myChartHorizontalBar').getContext('2d');
            new Chart(ctxHorizontalBar, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        //label: 'Horizontal Bar Chart',
                        data: data.values,
                        backgroundColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    indexAxis: 'y',
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            title: { display: true, text: 'File Types' }
                        },
                        y: {
                            title: { display: true, text: 'Values' },
                            beginAtZero: true
                        }
                    }
                }
            });
        });

    </script>

{% endblock body %}