{% extends "layout/base.html" %}

{% block title %} 
    Analytics
{% endblock title %}

{% block body %}

    {% include "toast.html" with messages=messages %}
    {% load static %}
        <div class="flex justify-center  py-3 px-6">
            <p class="text-gray-300 font-semibold mt-2">Here you can view the graphical representation of all comparisons.</p>
        </div>
        <div class="container mx-auto mb-12 px-6">
        <div class="text-start mb-24 flex justify-between">
            <div>
                <h1 class="text-4xl font-semibold text-white">Analytics</h1>
            </div>
            <div>
                <a href="{% url 'dashboard' %}" class="bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out">
                    Back
                </a>
            </div>
        </div>
        <div class="flex flex-col gap-4">
        <!-- Chart Containers -->
            <div class="flex justify-between">
                <div class="w-80 px-8 py-4 rounded-lg shadow-md bg-yellow-500">
                    <p class="text-2xl text-center font-bold mb-2 text-white">Total Comparisons</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{total_comparision}}</div>
                    </div>
                </div>
                <div class="w-80 px-8 py-4 rounded-lg shadow-md bg-green-700">
                    <p class="text-2xl text-center font-bold mb-2 text-white">All Users</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{total_users}}</div>
                    </div>
                </div>
                <div class="w-80 px-8 py-4 rounded-lg shadow-md bg-pink-700">
                    <p class="text-2xl text-center font-bold mb-2 text-white">Verified Reports</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{total_comparision}}</div>
                    </div>
                </div>
                <div class="w-80 px-8 py-4 rounded-lg shadow-md bg-cyan-500">
                    <p class="text-2xl text-center font-bold mb-2 text-white">Feedbacks</p>
                    <div >
                        <div class="text-center font-extrabold text-3xl text-white">{{user_feedback}}</div>
                    </div>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Total Files</p>
                    <canvas id="myChartBar"></canvas>
                </div>
                <div class="w-[50%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">All Comparisions</p>
                    <canvas id="myChartBubble"></canvas>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Comparision Reports</p>
                    <canvas id="myChartPie"></canvas>
                </div>
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Comparision Status</p>
                    <canvas id="myChartPolar"></canvas>
                </div>
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Comparision Reports</p>
                    <canvas id="myDoughnutChart"></canvas>
                </div>
                <div class="w-[25%] border p-4 rounded-lg shadow-md bg-white">
                    <p class="text-lg font-bold mb-3">Comparision Status</p>
                    <canvas id="myChartRadar"></canvas>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let data = {{all_comparision|safe}};
            let allcomparison_data = {{chart_data|safe}};

            // Bar Chart
            var ctxBar = document.getElementById('myChartBar').getContext('2d');
            new Chart(ctxBar, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Total Files',
                        data: data.values,
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.3)',
                            'rgba(0, 120, 215, 0.3)',
                            'rgba(66, 133, 33, 0.3)',
                            'rgba(234, 67, 53, 0.3)',
                            'rgba(12, 0, 128, 0.3)',
                            'rgba(128, 18, 12, 0.3)',
                            'rgba(128, 0, 128, 0.3)',
                            'rgba(135, 206, 235, 0.3)',
                            'rgba(112, 128, 144, 0.3)',
                            'rgba(255, 255, 0, 0.3)', 
                            ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)', 
                            ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            title: { display: true, text: 'Categories' }
                        },
                        y: {
                            beginAtZero: true,
                            title: { display: true, text: 'Values' },
                            ticks: {
                                callback: function(value) {
                                    return Math.round(value); // Rounds to the nearest integer
                                },
                                stepSize: 1
                            }
                        }
                    }
                }
            });

            var ctxBubble = document.getElementById('myChartBubble').getContext('2d');
            new Chart(ctxBubble, {
                type: 'bubble',
                data: {
                    labels: {{ chart_data.labels|safe }},  // Labels for the x-axis
                    datasets: [{
                        label: 'Approved Reports',
                        data: {{ chart_data.values|safe }}.map((value, index) => ({
                            x: index,  // Use index as the x position
                            y: value,
                            r: 10  // Bubble radius
                        })),
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.3)',
                            'rgba(0, 120, 215, 0.3)',
                            'rgba(66, 133, 33, 0.3)',
                            'rgba(234, 67, 53, 0.3)',
                            'rgba(12, 0, 128, 0.3)',
                            'rgba(128, 18, 12, 0.3)',
                            'rgba(128, 0, 128, 0.3)',
                            'rgba(135, 206, 235, 0.3)',
                            'rgba(112, 128, 144, 0.3)',
                            'rgba(255, 255, 0, 0.3)'
                        ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            type: 'category',  // Set x-axis to use categories
                            labels: {{ chart_data.labels|safe }},  // Use the labels from your data
                            title: { display: true, text: 'Categories' }  // Adjust the title if needed
                        },
                        y: {
                            beginAtZero: true,
                            title: { display: true, text: 'Values' },
                            ticks: {
                                callback: function(value) {
                                    return Math.round(value);  // Round values to integers
                                },
                                stepSize: 1
                            }
                        }
                    }
                }
            });

            
            var ctxPie = document.getElementById('myChartPie').getContext('2d');
            new Chart(ctxPie, {
                type: 'pie',
                data: {
                    labels: data.labels,  // Labels for each segment
                    datasets: [{
                        label: 'Comparison Reports',
                        data: data.values,  // Data values for each segment
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.7)',
                            'rgba(0, 120, 215, 0.7)',
                            'rgba(66, 133, 33, 0.7)',
                            'rgba(234, 67, 53, 0.7)',
                            'rgba(12, 0, 128, 0.7)',
                            'rgba(128, 18, 12, 0.7)',
                            'rgba(128, 0, 128, 0.7)',
                            'rgba(135, 206, 235, 0.7)',
                            'rgba(112, 128, 144, 0.7)',
                            'rgba(255, 255, 0, 0.7)',
                        ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.label + ': ' + tooltipItem.raw;
                                }
                            }
                        }
                    }
                }
            });
            // Polar Area Chart
            var ctxPolar = document.getElementById('myChartPolar').getContext('2d');
            new Chart(ctxPolar, {
                type: 'polarArea',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Comperison Status',
                        data: data.values,
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.3)',
                            'rgba(0, 120, 215, 0.3)',
                            'rgba(66, 133, 33, 0.3)',
                            'rgba(234, 67, 53, 0.3)',
                            'rgba(12, 0, 128, 0.3)',
                            'rgba(128, 18, 12, 0.3)',
                            'rgba(128, 0, 128, 0.3)',
                            'rgba(135, 206, 235, 0.3)',
                            'rgba(112, 128, 144, 0.3)',
                            'rgba(255, 255, 0, 0.3)', 
                            ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)', 
                            ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false }
                    }
                }
            });

            // Polar Area Chart
            var ctxDoughnut = document.getElementById('myDoughnutChart').getContext('2d');
            new Chart(ctxDoughnut, {
                type: 'doughnut',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Comparison Status',
                        data: data.values,
                        backgroundColor: [
                            'rgba(224, 60, 49, 0.3)',
                            'rgba(0, 120, 215, 0.3)',
                            'rgba(66, 133, 33, 0.3)',
                            'rgba(234, 67, 53, 0.3)',
                            'rgba(12, 0, 128, 0.3)',
                            'rgba(128, 18, 12, 0.3)',
                            'rgba(128, 0, 128, 0.3)',
                            'rgba(135, 206, 235, 0.3)',
                            'rgba(112, 128, 144, 0.3)',
                            'rgba(255, 255, 0, 0.3)'
                        ],
                        borderColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            position: 'top',
                            display: true
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.label + ': ' + tooltipItem.raw;
                                }
                            }
                        }
                    },
                    responsive: true
                }
            });

            var ctxRadar = document.getElementById('myChartRadar').getContext('2d');
            new Chart(ctxRadar, {
                type: 'radar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Comparison Reports',
                        data: data.values,
                        backgroundColor: [
                            'rgba(224, 60, 49, 1)',
                            'rgba(0, 120, 215, 1)',
                            'rgba(66, 133, 33, 1)',
                            'rgba(234, 67, 53, 1)',
                            'rgba(12, 0, 128, 1)',
                            'rgba(128, 18, 12, 1)',
                            'rgba(128, 0, 128, 1)',
                            'rgba(135, 206, 235, 1)',
                            'rgba(112, 128, 144, 1)',
                            'rgba(255, 255, 0, 1)', 
                            ],
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false }
                    }
                }
            });
        });
    </script>
{% endblock body %}       