{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block body %}
    {% load static %}
    {% include "toast.html" with messages=messages %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-gray-900">Dashboard</h1>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-8 border border-gray-200">
            <div class="mb-5 flex justify-end">
                {% if reports %}
                    <a class="bg-pink-700 hover:bg-pink-600 text-white font-medium rounded-lg py-2 px-3 flex items-center gap-2" href="{% url "form" %}">
                        <img class="inline-block mt-0 pt-0 size-6" src="{% static 'images/new-comparison.png' %}" alt="" srcset="">
                        <span>New Comparison</span>
                    </a>
                {% endif %}
            </div>
            {% if reports %}
                <div class="overflow-auto">
                    <table class="min-w-full leading-normal rounded-lg overflow-hidden bg-slate-100 text-left">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">S.No.</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Report Number</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Comparison Reason</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Compared Documents</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Comparison Date</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">Compared By</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-sm font-semibold text-white uppercase tracking-wider">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                                <tr>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ forloop.counter }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ report.report_number }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ report.comparison_reason }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">
                                        <div class="p-2 bg-slate-200 rounded w-64 h-[52px] overflow-y-scroll">
                                            {% for name, id in report.compared_documents.items %}
                                                <div class="inline-block mb-1 rounded-full bg-cyan-600 px-2 py-1">
                                                    <a href="{% url "view-document" id %}" class="text-white">{{ name }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ report.comparison_date|date:"d-M-Y" }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">{{ report.compared_by }}</td>
                                    <td class="px-5 py-3 border-b border-gray-200">
                                        <a href="{% url "view-comparison" report.report_number %}" class="size-auto">
                                            <img class="size-10 hover:bg-gray-200 rounded-full p-2" src="{% static 'images/view.png' %}" alt="Document">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="text-center mt-5">
                    <img src="{% static 'images/success.png' %}" class="mx-auto my-3" width="80" height="80"  alt="" srcset="">
                    <p class="text-gray-600 mb-4 text-2xl">No reports are available.</p>
                    <a class="bg-pink-700 hover:bg-pink-600 text-white font-medium rounded-lg py-2 px-3 mt-5" href="{% url "form" %}">
                        <img class="inline-block size-6" src="{% static 'images/new-comparison.png' %}" alt="" srcset="">
                        <span>New Comparison</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock body %}