{% extends "layout.html" %}

{% block title %} 
    Home
{% endblock title %}

{% block body %}

    {% include "toast.html" with messages=messages %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-gray-900">Upload Documents</h1>
            {% comment %} <p class="mt-2 text-lg text-gray-600">Choose the type of documents you want to compare, specify the number of documents, and generate the upload fields to proceed with the comparison.</p> {% endcomment %}
        </div>
        <div class="bg-white shadow-lg rounded-lg p-6 border border-gray-200">
            <div class="flex-row md:flex">
                <div class="w-full md:w-[70%]">
                    <div class="mb-3 font-bold text-xl">Document ID : {{ doc_id }}</div>
                    <form method="post" enctype="multipart/form-data" class="border rounded-lg p-4 bg-slate-100">
                        <div class="text-slate-700 font-sans">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">Upload</button>
                    </form>
                </div>
                <div class="mt-4 md:mt-0 w-full md:w-[30%] flex justify-center items-center">
                    <div>
                        <div class="border rounded-full bg-slate-600 p-4 text-white font-bold pt-0 text-center">
                            <p class="mt-12"> Submitted Record </p>
                            <p class="my-3 text-red-900 font-extrabold text-4xl">{{ document_count }}</p>
                        </div>
                        <div class="my-2 text-center">◆</div>
                        {% if document_count >= 2 %}
                            <a href="{% url "compare" %}" class="bg-pink-700 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded mt-2">Perform Comparison</a>
                        {% endif %}  
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
