{% extends "layout.html" %}

{% block title %}
    Documents
{% endblock title %}

{% block body %}
{% load static %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-start mb-8">
            <h1 class="text-3xl font-bold text-gray-900">Initialised Documents</h1>
        </div>
        <div class="flex justify-between mb-4 bg-slate-200 border rounded-lg py-3 px-6">
            <p class="text-gray-600 mt-2">View and manage your all initialised documents that are ready for comparision.</p>
            <div class="flex gap-4">
                <a href="{% url "dashboard" %}" class="bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out">
                    Dashboard
                </a>
                <a href="{% url "form" %}" class="bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out">
                    Back
                </a>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-8 border border-gray-200">
            <div class="mb-5 flex justify-between">
                <form method="GET" action="" class="flex gap-5">
                    <div class="relative flex items-center border rounded-lg overflow-hidden bg-white shadow-sm w-64">
                        <input type="text" name="q" placeholder="Search users..." value="{{ request.GET.q }}" class="flex-grow py-2 px-4 border-none outline-none focus:ring-0" />
                        <button type="submit" class="absolute right-0 top-0 bottom-0 flex items-center px-2 py-1 bg-slate-600 hover:bg-slate-500 rounded-r-lg">
                            <img src="{% static 'images/search.png' %}" alt="Search" class="size-6 text-white" />
                        </button>
                    </div>
                    <select name="filter" class="w-48 border border-gray-300 rounded-lg py-2 px-4 bg-white text-gray-700 focus:ring-1 focus:border-blue-500">
                        <option value="" disabled>Filter by</option>
                        <option value="docx" default>Docx</option>
                        <option value="pdf">PDF</option>
                        <option value="excel">Spreadsheet</option>
                        <option value="ppt">Presentation</option>
                        <option value="vsd">Visio File</option>
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                        <option value="image">Image</option>
                        <option value="txt">Text</option>
                    </select>
                </form>
                {% comment %} {% if documents %}
                    <a class="bg-cyan-700 hover:bg-cyan-600 text-white font-medium rounded-lg py-2 px-3 flex items-center gap-2" href="{% url "form" %}">Back</a>
                {% endif %} {% endcomment %}
            </div>
            {% if documents %}
                <div class="text-end mb-4">
                    {% if documents.count > 1 %}
                        <button onclick="openModal()" class="bg-pink-700 hover:bg-pink-600 text-white rounded-lg py-2 px-3 ml-4">Perform Comparison</button>
                    {% endif %}
                </div>
                <div class="overflow-auto">
                    <table class="min-w-full leading-normal rounded-lg overflow-hidden bg-slate-100">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Doc ID</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Title</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Author</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Doc Type</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Comments</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}
                                <tr>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.document_id }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.title }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.author }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.doc_type }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.comments }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm flex gap-4">
                                        <a href="{{ document.upload_document.url }}" target="_blank" class="hover:bg-slate-200 rounded-full px-2.5 py-2"><img src="{% static 'images/get.png' %}" class="h-5 w-4" title="Download" alt=""></a>
                                        <button onclick="openDeleteModal({{ document.document_id }})" class="ml-2 hover:bg-slate-200 rounded-full px-2.5 py-2"><img src="{% static 'images/delete.png' %}" alt="" class="h-4 w-4" title="Delete"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="flex flex-col items-center justify-center border rounded-lg p-5 bg-slate-100">
                    <img src="{% static 'images/no-documents.png' %}" alt="No documents found" class="size-32 mb-8 opacity-75">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">No Documents Available</h2>
                    <p class="text-gray-500 mb-8">It looks like you haven't uploaded any documents yet. Start by uploading a document to get started.</p>
                    <a class="bg-cyan-700 hover:bg-cyan-600 text-white rounded-lg py-3 px-6 text-lg font-medium shadow-md transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg" href="{% url 'form' %}">
                        Upload Documents
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
     
    <!-- Modals -->

    <div id="comparisonModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg w-full">
            <h2 class="text-2xl font-bold mb-4">Reason for Comparison</h2>
            <form id="comparisonForm">
                <div class="mb-4">
                    <label for="reason" class="block text-md font-medium text-gray-700">Reason <span class="text-red-700 font-bold">*</span></label>
                    <textarea id="reason" maxlength="150" placeholder="Enter a valid reason for comparison" name="reason" rows="3" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required></textarea>
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-gray-500 hover:bg-gray-400 text-white rounded-lg py-2 px-4 mr-2" onclick="closeModal()">Cancel</button>
                    <button type="submit" class="bg-blue-700 hover:bg-blue-600 text-white rounded-lg py-2 px-4">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg w-full">
            <h2 class="text-2xl font-bold mb-4">Delete Document</h2>
            <form id="deleteForm">
                <div class="mb-4">
                    <h5>Are you sure, want to delete the document?</h5>
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-slate-400 hover:bg-slate-400 text-white rounded-lg py-2 px-4 mr-2" onclick="closeDeleteModal()">Cancel</button>
                    <button type="submit" class="bg-red-800 hover:bg-red-700 text-white rounded-lg py-2 px-4 mr-2">Delete</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get the modal and form elements
            const modal = document.getElementById("comparisonModal");
            const form = document.getElementById("comparisonForm");
            const reasonTextarea = document.getElementById("reason");

            const deleteModal = document.getElementById("deleteModal");
            let deleteForm = document.getElementById("deleteForm");

            // Function to open the modal
            window.openModal = function() {
                modal.classList.remove("hidden");
            };

            // Function to close the modal
            window.closeModal = function() {
                modal.classList.add("hidden");
                reasonTextarea.value = ""; // Clear the textarea
            };

            window.closeDeleteModal = function() {
                deleteModal.classList.add("hidden");
            };

            // Handle comparison form submission
            form.addEventListener("submit", function(event) {
                event.preventDefault();
                const reason = reasonTextarea.value.trim();
                if (reason) {
                    // If a valid reason is provided, proceed to the comparison page
                    window.location.href = "{% url 'compare' %}?reason=" + encodeURIComponent(reason);
                }
            });

            // Function to open the delete modal
            window.openDeleteModal = function(id) {
                deleteModal.classList.remove("hidden");

                // Remove previous event listeners to prevent multiple bindings
                deleteForm.replaceWith(deleteForm.cloneNode(true));
                deleteForm = document.getElementById("deleteForm");

                deleteForm.addEventListener("submit", function(event) {
                    event.preventDefault();
                    const url = `{% url 'remove-doc' 0 %}`.replace('0', id);
                    window.location.href = url;
                });
            };
        });
    </script>
{% endblock body %}
