{% extends "layout.html" %}
{% load custom_filters %}

{% block title %}
    Report Preview
{% endblock title %}

{% block body %}

    {% include "toast.html" with messages=messages %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-gray-900">Report Preview</h1>
            {% comment %} <p class="mt-2 text-lg text-gray-600">Here are the documents you have uploaded.</p> {% endcomment %}
        </div>
        <div class="bg-white shadow-lg rounded-lg p-8 border border-gray-200">
            <div class="flex justify-between mb-6">
                <div class="font-bold text-xl text-slate-600">Preview</div>
                <div class="head">
                    <button class="bg-blue-700 hover:bg-blue-600 text-white rounded-lg py-2 px-3" onclick="history.back();">Back</button>
                </div>
            </div>
            {{ output_path }}
        </div>
    </div>

{% endblock body %}