{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    Report Preview
{% endblock title %}

{% block body %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-start mb-8">
            <h1 class="text-3xl font-bold text-white">Report Preview</h1>
        </div>

        <!-- Navigator -->
        {% include "layout/navigator.html" with pageInfo="Preview your report and view it directly within the page; use the chat feature to interact with the document for detailed insights." %}
        
        <div class="backdrop-blur-3xl bg-cyan-900 shadow-lg rounded-lg p-8 border border-cyan-900">
            <div class="flex justify-between mb-4">
                <div class="flex text-slate-500 items-center p-2 rounded bg-slate-100">Report Number : <span class="text-blue-600 font-bold"> {{ report }}</span></div>
                <div class="flex items-center">
                    <a class="inline-flex gap-2 bg-cyan-600 hover:bg-cyan-700 text-white font-medium rounded-lg py-2 px-3 ml-4" href="{% get_media_prefix %}comparison-reports/{{ report }}.docx"><img src="{% static "images/download-report.png" %}" class="size-6" alt="" srcset=""> <span>Get Report</span></a>
                </div>
            </div>
            <div class="">
                {% if perms.compareapp.view_comparisonreport %}
                    <embed src="{{ pdf_path }}" type="application/pdf" class="w-full h-screen rounded-lg" />
                {% else %}
                    <div class="text-center mt-5 border rounded-lg p-5 bg-slate-100">
                        <div class="flex justify-center">
                            <img src="{% static 'images/permission-error.png' %}" class="mx-auto my-3" width="100" height="100" alt="Permission Denied">
                        </div>
                        <p class="text-red-700 mb-6 text-3xl font-semibold">Permission Denied</p>
                        <p class="text-gray-500 mb-8">You do not have permission to view comparison reports. Please contact your administrator if you believe this is an error.</p>
                    </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% if perms.compareapp.view_comparisonreport %}
        <div class="fixed bottom-10 left-1/2 transform -translate-x-1/2">
            <div class="relative inline-flex">
                <span class="animate-ping absolute inline-flex size-20 rounded-full bg-slate-900 opacity-75"></span>
                <img src="{% static 'images/mllogo.jpg' %}" alt="Chat PDF Button" id="chatPdfButton" class="size-20 rounded-full relative bg-sky-500 cursor-pointer">
            </div>
        </div>
    {% endif %}
                                                                                                       
    <!-- Modal structure -->
    <div id="chatPdfModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
        <div class="bg-white rounded-lg shadow-lg p-6 w-11/12 md:w-1/2 ">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold">Chat with Document</h2>
                <button id="closeChat" class="text-gray-600 hover:text-gray-800 text-3xl font-bold z-50">&times;</button>
            </div>
            <div id="chatContainer" class="overflow-y-auto h-96 mb-2 border border-gray-200 p-4 rounded-lg">
                <!-- Chat content will be dynamically added here -->
            </div>
            <div class="text-center text-slate-400 text-sm md:text-base mb-2">ChatPDF can make mistakes. Check important info.</div>
            <div class="flex gap-4 items-center"> 
                <input id="chatInput" type="text" class="border border-gray-300 rounded-lg w-full" placeholder="Type your message here...">
                <div id="sendMessage" class="hover:bg-gray-100 rounded-full p-2">
                    <img class="" src="{% static 'images/send.png' %}" width="40" height="40" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

    <script>
        let sourceId = null;
        const pdf_url = "{{ pdf_path }}";

        document.getElementById('chatPdfButton').addEventListener('click', async () => {
            document.getElementById('chatPdfModal').classList.remove('hidden');
            document.getElementById('loader').classList.remove('hidden');
            
            if (!sourceId) {
                sourceId = await uploadPdf();
            }
            if (sourceId) {
                document.getElementById('loader').classList.add('hidden');
                const chatContainer = document.getElementById('chatContainer');
                chatContainer.innerHTML += `
                    <div class="flex justify-start mb-3">
                        <span class="bg-gray-700 text-white py-2 px-3 rounded-lg max-w-xs md:max-w-xl break-words">Hello, how can i help you with document!</span>
                    </div>`;
            } else {
                alert('Error uploading PDF. Please try again.');
            }
        });

        document.getElementById('closeChat').addEventListener('click', () => {
            document.getElementById('chatPdfModal').classList.add('hidden');
        });

        async function uploadPdf() {
            try {
                const response = await fetch('{% url "upload-pdf" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ file_url: "comparison-reports/{{ report }}.pdf" }) 
                });

                if (response.ok) {
                    const data = await response.json();
                    return data.sourceId; 
                } else {
                    const errorData = await response.json();
                    throw new Error(`Error uploading PDF: ${errorData.message || response.statusText}`);
                }
            } catch (error) {
                console.error('Error:', error);
                return null;
            }
        }

        document.getElementById('sendMessage').addEventListener('click', async () => {
            const message = document.getElementById('chatInput').value;
            if (message.trim()) {
                const chatContainer = document.getElementById('chatContainer');
                loader.classList.remove('hidden')
                chatContainer.innerHTML += `
                    <div class="flex justify-end mb-3">
                        <span class="bg-blue-600 text-white py-2 px-3 rounded-lg max-w-xs md:max-w-xl break-words">${message}</span>
                    </div>`;

                try {
                    const response = await fetch('{% url "proxy-chat-pdf" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ question: message, source_id: sourceId })
                    });

                    if (response.ok) {
                        const data = await response.json();

                        loader.classList.add('hidden')

                        chatContainer.innerHTML += `
                           <div class="flex justify-start mb-3">
                                <span class="bg-gray-700 text-white py-2 px-3 rounded-lg max-w-xs md:max-w-xl  break-words">${data.content}</span>
                            </div>`;
                    } else {
                        loader.classList.add('hidden')
                        chatContainer.innerHTML += `<div class="text-left text-red-600 mb-2">Error fetching response</div>`;
                    }
                } catch (error) {
                    loader.classList.add('hidden')
                    chatContainer.innerHTML += `<div class="text-left text-red-600 mb-2">Error: ${error.message}</div>`;
                }

                document.getElementById('chatInput').value = '';
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }
        });
    </script>
{% endblock body %}
