{% extends "password-base/password-layout.html" %}
{% load static %}

{% block title %} Password Reset Complete {% endblock title %}

{% block content %}

    <div class="p-8 md:p-10 border-t-4 border-cyan-900 rounded-lg shadow-xl w-full max-w-md backdrop-blur-3xl">
        <h1 class="text-2xl md:text-3xl font-extrabold text-center mb-6 text-cyan-700">Password Reset Successful</h1>
        <p class="text-center text-white mb-6">Your password has been successfully reset. You can now log in with your new password.</p>
        <div class="flex justify-center">
            <a href="{% url 'login' %}" class="bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-6 rounded-lg focus:outline-none focus:shadow-outline transition duration-300 ease-in-out">
                Go to Login
            </a>
        </div>
    </div>

{% endblock content %}
