{% extends "password-base/password-layout.html" %}

{% block title %} Create New Password {% endblock title %}

{% block content %}

{% load static %}

<div class="max-w-md mx-auto mt-10 bg-cyan-950 shadow-lg rounded-lg p-8 relative">
    <div class="absolute inset-0 opacity-40 z-0">
        <img src="{% static 'images/password.png' %}" alt="Background" class="w-full h-full object-cover rounded-lg">
    </div>

    {% if form %}
        <h2 class="text-3xl font-extrabold text-cyan-600 mb-7 text-center relative z-10">Set Your Password</h2>
        <form method="POST" class="relative z-10 w-96">
            {% csrf_token %}
            <div class="space-y-3">
                {% for field in form %}
                    <div class="flex flex-col">
                        <label for="{{ field.id_for_label }}" class="block font-medium text-cyan-600 mb-1">
                            {{ field.label_tag }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-red-500 text-sm mt-1">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="mt-7 text-center">
                <button type="submit" class="w-full py-2 px-4 bg-cyan-600 hover:bg-cyan-700 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-2">
                    Set Password
                </button>
            </div>
        </form>
    {% else %}
        <div class="text-center relative z-10">
            <h3 class="text-xl font-extrabold text-red-600">Invalid or Expired Link</h3>
            <p class="mt-4 text-gray-600">The link is invalid or has expired. Please request a new password create.</p>
            <img src="{% static 'images/permission-error.png' %}" alt="Error" class="w-16 mx-auto mt-6">
        </div>
    {% endif %}
</div>

{% endblock content %}
