{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
    Report
{% endblock title %}

{% block body %}
{% load static %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-start mb-8">
            <h1 class="text-3xl font-bold text-white">Comparison Report</h1>
        </div>
        
        <!-- Navigator -->
        {% include "layout/navigator.html" with pageInfo="Here you can view detailed information about your image comparison." %}
        
        <div class="backdrop-blur-3xl bg-cyan-900 shadow-lg shadow-slate-800 rounded-lg p-8">
            {% if perms.compareapp.view_comparisonreport %}
                {% if documents %}
                    <div class="mb-8 rounded-lg">
                        <h2 class="text-xl font-bold text-white mb-3">Compared Documents Info</h2>
                        <div class="mb-8 flex leading-normal rounded-lg overflow-auto">
                            <table class="min-w-full leading-normal bg-slate-50">
                                <thead>
                                    <tr>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Document_ID</th>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Creation Date</th>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">File Format</th>
                                        {% comment %} <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Similarity Score</th> {% endcomment %}
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Comparison Status</th>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in documents %}
                                        <tr>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.document_id }}</td>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.creation_date }}</td>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.comparison_between }}</td>
                                            {% comment %} <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.similarity_score|floatformat:0 }}%</td> {% endcomment %}
                                            <td class="px-5 py-3 border-b border-gray-200 text-sm">
                                                <div class="flex items-center">
                                                    {% if document.comparison_status == 'Compared' %}
                                                        <p class="px-3 py-1.5 bg-green-500 text-white rounded-full font-medium">Success</p>
                                                    {% else %}
                                                        <p class="px-5 py-1.5 bg-red-500 text-white rounded-full font-medium">Failed</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm flex gap-4">
                                                <a href="{{ document.upload_documents.url }}" target="_blank" class="hover:bg-slate-200 rounded-full px-2.5 py-2"><img src="{% static 'images/download-icon.png' %}" class="h-5 w-4" title="Download" alt=""></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                <div class="">
                    <div class="mb-5 flex justify-between items-center">
                        <p class="font-bold text-xl text-white">Comparison Summary</p>
                        <a class="bg-pink-700 hover:bg-pink-600 text-white font-bold rounded-lg py-2 px-3 ml-4" href="{% url 'preview' report %}">View Report</a> 
                    </div>
                    <div class="mb-8 flex leading-normal rounded-lg overflow-auto bg-slate-100">
                        <table class="w-full leading-normal bg-slate-100">
                            <thead>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Images</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Predicted Label</th>
                                {% comment %} <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Predection Score</th> {% endcomment %}
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Text</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Added Text</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Removed Text</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Modified Text</th>
                            </thead>
                            <tbody>
                                {% for key, value in comparison_results.items %}
                                <tr>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-28">Image-{{ key }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-48">{{ value.label | default:"Not Applicable" }}</td>
                                    {% comment %} <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ value.preScore }}%</td> {% endcomment %}
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">{{ value.text | default:"Not Applicable" }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">{{ value.addedText | default:"-" }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">{{ value.removedText | default:"-" }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">{{ value.modifiedText | default:"-"  }}</td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>             
                    </div>
                </div>
            {% else %}
                <div class="text-center mt-5 border rounded-lg p-5 bg-slate-100">
                    <div class="flex justify-center">
                        <img src="{% static 'images/permission-error.png' %}" class="mx-auto my-3" width="100" height="100" alt="Permission Denied">
                    </div>
                    <p class="text-red-700 mb-6 text-3xl font-semibold">Permission Denied</p>
                    <p class="text-gray-500 mb-8">You do not have permission to view comparison reports. Please contact your administrator if you believe this is an error.</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock body %}