{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
    Report
{% endblock title %}

{% block body %}
{% load static %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-start mb-8">
            <h1 class="text-3xl font-bold text-white">Comparison Report</h1>
        </div>
        
        <!-- Navigator -->
        {% include "layout/navigator.html" with pageInfo="Here you can view detailed information about your image comparison." %}
        
        <div class="backdrop-blur-3xl bg-cyan-900 shadow-lg shadow-slate-800 rounded-lg p-8">
            {% if perms.compareapp.view_comparisonreport %}
                {% if documents %}
                    <div class="mb-8 rounded-lg">
                        <h2 class="text-xl font-bold text-white mb-3">Compared Documents Info</h2>
                        <div class="mb-8 flex leading-normal rounded-lg overflow-auto">
                            <table class="min-w-full leading-normal bg-slate-50">
                                <thead>
                                    <tr>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Document_ID</th>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Creation Date</th>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">File Format</th>
                                        {% comment %} <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Similarity Score</th> {% endcomment %}
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Processing Status</th>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">View</th>
                                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Compare Visually</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in documents %}
                                        <tr>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.document_id }}</td>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.creation_date }}</td>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.comparison_between }}</td>
                                            {% comment %} <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ document.similarity_score|floatformat:0 }}%</td> {% endcomment %}
                                            <td class="px-5 py-3 border-b border-gray-200 text-sm">
                                                <div class="flex items-center">
                                                    {% if document.comparison_status == 'Compared' %}
                                                        <p class="px-3 py-1.5 bg-green-500 text-white rounded-full font-medium">Success</p>
                                                    {% else %}
                                                        <p class="px-5 py-1.5 bg-red-500 text-white rounded-full font-medium">Failed</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm flex gap-4">
                                                <a href="{{ document.upload_documents.url }}" target="_blank" class="hover:bg-slate-200 rounded-full px-2.5 py-2"><img src="{% static 'images/download-icon.png' %}" class="h-5 w-4" title="Download" alt=""></a>
                                            </td>
                                            <td class="px-5 py-3 border-b border-gray-200 text-sm">
                                                <button onclick="openCompareImage(`{{document.upload_documents.url}}`)" class="bg-cyan-600 hover:bg-cyan-500 text-white font-bold rounded-lg py-2 px-3">
                                                    View
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                <div class="">
                    <div class="mb-5 flex justify-between items-center">
                        <p class="font-bold text-xl text-white">Comparison Summary</p>
                        <a class="bg-pink-700 hover:bg-pink-600 text-white font-bold rounded-lg py-2 px-3 ml-4" href="{% url 'preview' report %}">View Report</a> 
                    </div>
                    <div class="flex leading-normal rounded-lg overflow-auto bg-slate-100">
                        <table class="w-full leading-normal bg-slate-100">
                            <thead>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Images</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Predicted Label</th>
                                {% comment %} <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Predection Score</th> {% endcomment %}
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Text</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Added Text</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Removed Text</th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Modified Text</th>
                            </thead>
                            <tbody>
                                {% for key, value in comparison_results.items %}
                                <tr>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-28">Image-{{ key }}</td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-48">{{ value.label | default:"Not Applicable" }}</td>
                                    {% comment %} <td class="px-5 py-5 border-b border-gray-200 text-sm">{{ value.preScore }}%</td> {% endcomment %}
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">{{ value.text | default:"Not Applicable" }}</td>
                                    {% if value.compare.3 and value.compare.4 %}
                                        <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56 text-green-500 bg-green-50">{{ value.compare.3 | default:"-" }}</td>
                                        <td class="px-5 py-5 border-b border-gray-200   text-sm min-w-56 text-red-500 bg-red-50">{{ value.compare.4 | default:"-" }}</td>
                                        <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">Not Applicable</td>
                                    {% else %}
                                        <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">Not Applicable</td>
                                        <td class="px-5 py-5 border-b border-gray-200   text-sm min-w-56">Not Applicable</td>
                                        {% if value.compare.5 %}
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56 text-yellow-500 bg-yellow-50">{{ value.compare.5 | default:"-"  }}</td>
                                        {% else %}
                                            <td class="px-5 py-5 border-b border-gray-200 text-sm min-w-56">{{ value.compare.5 | default:"Not Applicable"  }}</td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>             
                    </div>
                </div>
            {% else %}
                <div class="text-center mt-5 border rounded-lg p-5 bg-slate-100">
                    <div class="flex justify-center">
                        <img src="{% static 'images/permission-error.png' %}" class="mx-auto my-3" width="100" height="100" alt="Permission Denied">
                    </div>
                    <p class="text-red-700 mb-6 text-3xl font-semibold">Permission Denied</p>
                    <p class="text-gray-500 mb-8">You do not have permission to view comparison reports. Please contact your administrator if you believe this is an error.</p>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Models -->
    <div id="imageComp" class="modal modal-closed fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-8/12 p-6 relative">
            <div class="flex justify-between border-b pb-2">
                <p class="font-semibold text-2xl">Compare the Images visually</p>
                <button id="closeImageComp" class="absolute top-5 right-5 text-gray-500 hover:text-gray-800 text-4xl">&times;</button>
            </div>
            <div class="mt-4 flex justify-around gap-4">
                <div class="rounded-lg border p-2 shadow-md flex justify-between flex-col">
                    <embed src="{{ documents.0.upload_documents.url }}" type="image/png" class="w-[500px] h-96">
                    <p class="mt-2 p-2 bg-cyan-600 text-white rounded-md">Primary Image</p>
                </div>
                <div class="rounded-lg border p-2 shadow-md flex justify-between flex-col">
                    <embed id="varImage" src="" type="image/png" class="w-[500px] h-96">
                    <p class="mt-2 p-2 bg-cyan-600 text-white rounded-md">Varient Image</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const imageComp = document.getElementById("imageComp");
        const closeImageComp = document.getElementById("closeImageComp");
        const varImage = document.getElementById("varImage");

        function openCompareImage(url) {    
            varImage.src = url;
            imageComp.classList.remove('modal-closed');
            imageComp.classList.add('modal-open');
        }

        // Close image modal
        closeImageComp.addEventListener('click', function () {
            imageComp.classList.remove('modal-open');
            imageComp.classList.add('modal-closed');
        });
    </script>

{% endblock body %}