{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
    Report
{% endblock title %}

{% block body %}
{% load static %}

    <div class="container mx-auto my-12 px-6">
        <div class="text-start mb-8">
            <h1 class="text-3xl font-bold text-white">Comparison Report</h1>
        </div>
        
        <!-- Navigator -->
        {% include "layout/navigator.html" with pageInfo="Here you can view detailed information about your comparison reports and enables you to preview the comparison report." %}
        
        <div class="backdrop-blur-3xl bg-cyan-900 shadow-lg shadow-slate-800 rounded-lg p-8">
            {% if perms.compareapp.view_comparisonreport %}
                {% if documents %}
                    <div class="flex justify-between mb-3">
                        <div class="font-bold text-xl text-white">Compared Documents Info</div>
                    </div>
                    <div class="mb-8 flex leading-normal rounded-lg overflow-auto">
                        <table class="min-w-full leading-normal bg-slate-50">
                            <thead>
                                <tr class="">
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Doc_ID</th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Creation_Date</th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">File Format</th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Summary</th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Similarity Score</th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Comparison Status</th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">AI Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents %}
                                    <tr class="hover:bg-gray-100 text-left">
                                        <td class="px-5 py-3 border-b border-gray-200 text-sm">{{ document.document_id }}</td>
                                        <td class="px-5 py-3 border-b border-gray-200 text-sm">{{ document.creation_date }}</td>
                                        <td class="px-5 py-3 border-b border-gray-200 text-sm">{{ document.comparison_between }}</td>
                                        <td class="px-5 py-3 border-b border-gray-200 text-sm">{{ document.summary }}</td>
                                        <td class="px-5 py-3 border-b border-gray-200 text-sm">{{ document.similarity_score|floatformat:0 }}%</td>
                                        <td class="px-5 py-3 border-b border-gray-200 text-sm">
                                            <div class="flex items-center">
                                                {% if document.comparison_status == 'Compared' %}
                                                    <p class="px-3 py-1.5 bg-green-500 text-white rounded-full font-medium">Success</p>
                                                {% else %}
                                                    <p class="px-3 py-1.5 bg-red-500 text-white rounded-full font-medium">Fail</p>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="px-5 py-3 border-b border-gray-200 text-sm">
                                            <button onclick="openSummary(`{{document.ai_summary}}`)" class="bg-cyan-600 hover:bg-cyan-500 text-white font-bold rounded-lg py-2 px-3">
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if report_summary %}
                    <div class="">
                        <div class="">
                            <p class="font-bold text-xl text-white">Comparison Summary</p>
                        </div>
                        <p class="bg-white rounded-lg p-6 text-slate-600 my-4 font-medium">{{ report_summary }}</p>
                    </div>
                {% endif %}
                
                <div class="">
                    <div class="mb-3 flex justify-between items-center">
                        <div class="">
                            <p class="font-bold text-xl text-white">Comparison Insights</p>
                        </div>
                        <div class="flex gap-4">
                            <button onclick="openSummary(`{{ report_summary }}`)" class="flex items-center gap-1 bg-cyan-600 hover:bg-cyan-500 text-white font-bold rounded-lg py-2 px-3">
                                {% comment %} <img class="size-7" src="{% static 'images/report.png' %}" alt="" srcset=""> {% endcomment %}
                                Comparison Summary
                            </button>
                            <a class="flex items-center gap-1 bg-pink-700 hover:bg-pink-600 text-white font-bold rounded-lg py-2 px-3" href="{% url 'preview' report %}">
                                <img class="size-7" src="{% static 'images/report.png' %}" alt="" srcset="">
                                View Report
                            </a>
                        </div>
                    </div>
                    <div class="overflow-auto rounded-lg">
                        <table class="min-w-full leading-normal bg-slate-50 text-balance">
                            <thead>
                                <tr>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Sections</th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Primary Document({{ documents.0.document_id }})</th>
                                    {% for doc in documents %}
                                        {% if doc.document_id != documents.0.document_id %}
                                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-slate-600 text-left text-[13px] font-semibold text-white uppercase tracking-wider">Document-{{ doc.document_id }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for header, details in comparison_details.items %}
                                    <tr class="hover:bg-gray-100">
                                        <td class="px-5 py-5 border-b border-gray-200 text-sm font-bold min-w-24">{{ header }}</td>
                                        <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                            <div class="min-w-96">
                                                {% if details.primary %}
                                                    {{ details.primary|default:"Not Applicable" }}
                                                {% else %}
                                                    <p class="font-semibold">Not Applicable</p>
                                                {% endif %}
                                            </div>
                                        </td>
                                        {% for doc in documents %}
                                            {% if doc.document_id != documents.0.document_id %}
                                                {% with details.documents|get_item:doc.document_id as doc_detail %}
                                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                                        <div class="min-w-96">
                                                            {% if doc_detail %}
                                                                {% if doc_detail.modified_text %}
                                                                    <p><span class="bg-yellow-200 font-semibold">{{ doc_detail.modified_text|default:"Not Applicable" }}</span></p>
                                                                {% else %}
                                                                    {% if doc_detail.content %}
                                                                        <p>Content : <span class="font-medium">{{ doc_detail.content|default:"Not Applicable" }}</span></p>
                                                                    {% endif %}
                                                                    {% if doc_detail.added_text %}
                                                                    <p><span class="bg-green-200 font-semibold">{{ doc_detail.added_text|default:"Not Applicable" }}</span></p>
                                                                    {% endif %}
                                                                    {% if doc_detail.removed_text %}
                                                                    <p><span class="bg-red-200 font-semibold">{{ doc_detail.removed_text|default:"Not Applicable" }}</span></p>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% else %}
                                                                <p class="font-semibold">Not Applicable</p>
                                                            {% endif %}
                            
                                                            {% if doc_detail.tag and doc_detail.tag != 'S' %}
                                                                <span class="text-xs font-bold {% if doc_detail.tag == 'M' %}text-yellow-600{% elif doc_detail.tag == 'A' %}text-green-500{% elif doc_detail.tag == 'R' %}text-red-500{% else %}text-gray-500{% endif %}">
                                                                    [{{ doc_detail.tag }}] - 
                                                                    
                                                                    {% if doc_detail.tag == 'A' %}Added{% endif %}
                                                                    {% if doc_detail.tag == 'R' %}Removed{% endif %}
                                                                    {% if doc_detail.tag == 'M' %}Modified{% endif %}
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            {% else %}
                <div class="text-center mt-5 border rounded-lg p-5 bg-slate-100">
                    <div class="flex justify-center">
                        <img src="{% static 'images/permission-error.png' %}" class="mx-auto my-3" width="100" height="100" alt="Permission Denied">
                    </div>
                    <p class="text-red-700 mb-6 text-3xl font-semibold">Permission Denied</p>
                    <p class="text-gray-500 mb-8">You do not have permission to view comparison reports. Please contact your administrator if you believe this is an error.</p>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Modal for Summary -->
    <div id="summaryModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
        <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 max-h-[96] overflow-auto p-6 relative">
            <button onclick="closeSummary()" class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-4xl">&times;</button>
            <h2 class="text-2xl font-bold mb-4">Documents AI Summary</h2>
            <p id="summaryContent" class="text-lg mb-4"></p>
            <div class="mt-6 text-right">
                <button onclick="closeSummary()" class="bg-slate-300 hover:bg-slate-200 text-white font-bold rounded-lg py-2 px-4">
                    Close
                </button>
            </div>
        </div>
    </div>


    <script>

        function openSummary(summary) {
            let content = '';
            if (summary === 'None') {
                content = `
                    <div class="flex flex-col gap-5 h-48 justify-center items-center">
                        <img class="size-24" src="{% static 'images/no-summary.png' %}" alt="" srcset="">
                        <p class="text-slate-700 text-lg font-medium">Sorry, We didn't find the document summary.</p>
                    </div>
                `
            } else {
                content = summary;
            }
            document.getElementById('summaryContent').innerHTML = content;
            document.getElementById('summaryModal').classList.remove('hidden');
        }
        
        function closeSummary() {
            document.getElementById('summaryModal').classList.add('hidden');
        }
        
    </script>
    

{% endblock body %}
