{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc Comparison Pro - {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'images/logosm.png' %}" type="image/x-icon">
    {% tailwind_css %}
    <style>
        .modal {
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }
        .modal-open {
            opacity: 1;
            visibility: visible;
        }
        .modal-closed {
            opacity: 0;
            visibility: hidden;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-800">

    {% include "toast.html" with messages=messages %}

    <!-- Header -->
    <header>
        <div class="flex justify-between items-center px-10 py-2.5 bg-gray-800 bg-opacity-90 text-white">
            <div>
                <a href="{% url "dashboard" %}" class="flex items-center gap-4">
                    <img class="w-200 h-14" src="{% static 'images/logo.png' %}" alt="Doc Comparison Pro Logo">
                    <p class="hidden md:block text-white md:text-2xl font-semibold"> Document Comparison Pro </p>
                </a>
            </div>
            <div class="flex gap-4 items-center relative">
                <div class="relative">
                    <img src="{% static 'images/user.png' %}" alt="user" width="40" height="40">
                    <span class="absolute top-0 right-0 p-1 bg-green-500 rounded-full">
                        <span class="sr-only">Active</span>
                    </span>
                </div>
                <div class="relative">
                    <button id="dropdownButton" class="font-medium text-white bg-transparent" type="button">
                        {% if request.user.is_authenticated %}
                            {{ request.user.get_full_name|default:request.user.username|title }}
                        {% else %}
                            Guest
                        {% endif %}
                    </button>
                    <div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-52 bg-white text-black shadow-lg rounded-md">
                        <div class="flex justify-center items-center px-5 py-2 gap-2 border-b">
                            <img src="{% static 'images/logosm.png' %}" alt="logo" width="50" height="50"> 
                            {% if request.user.is_authenticated %}
                                {{ request.user.get_full_name|default:request.user.username|title }}
                            {% else %}
                                Guest
                            {% endif %}
                        </div>
                        <div><a class="flex items-center gap-2 px-4 py-2 hover:bg-gray-200" href="{% url 'user-management' %}"><img class="size-5 mr-0.5" src="{% static 'images/user-management.png' %}" alt="" srcset="">User management</a></div>
                        <div><a class="flex items-center gap-2 px-4 py-2 hover:bg-gray-200" id="feedbackButton" href="#" ><img class="size-6" src="{% static 'images/feedback.png' %}" alt="" srcset="">Feedback</a></div>
                        <div><a class="flex items-center gap-2 px-4 py-2 hover:bg-gray-200" href="#" id="aboutButton"><img class="size-6" src="{% static 'images/about.png' %}" alt="" srcset="">About</a></div>
                        <div><a class="flex items-center gap-2 px-4 py-2 hover:bg-gray-200" href="{% url 'logout' %}"><img class="size-6" src="{% static 'images/logout.png' %}" alt="" srcset="">Log Out</a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Loader -->
    <div id="loader" class="fixed inset-0 flex items-center justify-center bg-slate-300 bg-opacity-50 z-50 hidden">
        <div class="animate-spin rounded-full border-t-4 border-red-900 h-16 w-16"></div>
    </div>
    
    <!-- Modal -->
    <div id="aboutModal" class="modal modal-closed fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 p-6 relative">
            <button id="closeModal" class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-4xl">&times;</button>
            <h2 class="text-2xl font-semibold mb-4">About Doc Comparison Pro</h2>
            <p class="text-lg mb-4">Welcome to Doc Comparison Pro, your go-to solution for comparing documents with ease. Our tool is designed to streamline your workflow and ensure accurate, efficient comparisons.</p>
            <h3 class="text-xl font-semibold mb-2">Features</h3>
            <ul class="list-disc list-inside mb-4 ml-4">
                <li>Compare multiple documents side-by-side.</li>
                <li>Highlight differences and similarities.</li>
                <li>Generate detailed comparison reports.</li>
                <li>User-friendly interface with intuitive navigation.</li>
            </ul>
            <h3 class="text-xl font-semibold mb-2">Our Team</h3>
            <p class="text-lg mb-4">Our team is composed of dedicated professionals who are passionate about document management and technology. We are committed to providing the best tools and support to enhance your productivity.</p>
            <h3 class="text-xl font-semibold mb-2">Contact Us</h3>
            <p class="text-lg">For more information or support, please contact us at <a href="mailto:quality@vidyagxp.com" class="text-blue-500 hover:underline">support@doccomparisonpro.com</a>.</p>
        </div>
    </div>

    <!-- Feedback Modal -->
    <div id="feedbackModal" class="modal modal-closed fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 p-6 relative">
            <button id="closeFeedbackModal" class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-4xl">&times;</button>
            <h2 class="text-2xl font-semibold mb-4">Feedback</h2>
            <form id="feedbackForm" method="POST" action="{% url 'feedback' %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="feedback" class="block text-lg font-semibold mb-2">Give your valuable feedback</label>
                    <textarea id="feedback" name="feedback" rows="5" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500" placeholder="Enter your feedback..."></textarea>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-lg font-semibold mb-2">Your Email (Optional)</label>
                    <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500" placeholder="Enter your email address...">
                </div>
                <div class="text-right">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Submit Feedback</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Help Modal -->
    <div id="helpModal" class="modal modal-closed fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 p-6 relative">
            <button id="closeHelpModal" class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-4xl">&times;</button>
            <h2 class="text-2xl font-extrabold mb-4">Software Workflow Assistance</h2>
            <p class="text-lg mb-4 text-slate-500">Here you can find answers to common questions and tips on how to use Doc Comparison Pro effectively.</p>
            <h3 class="text-xl font-semibold mb-2">Q.1 How to Compare Documents?</h3>
            <p class="text-lg mb-4 text-slate-500">Ans. To compare documents, simply upload your documents and follow the on-screen instructions. The tool will highlight differences and similarities.</p>
            <h3 class="text-xl font-semibold mb-2">Q.2 What contains the Report?</h3>
            <p class="text-lg mb-4 text-slate-500">Ans. The comparison report provides a detailed analysis of the differences and similarities between the documents. You can download or share the report as needed.</p>
            <hr>
            <h3 class="text-xl font-semibold my-2">Need Further Assistance?</h3>
            <p class="text-lg text-slate-500">If you need further assistance, feel free to contact us at <a href="mailto:quality@vidyagxp.com" class="text-blue-500 hover:underline">support@doccomparisonpro.com</a>.</p>
        </div>
    </div>

    <div class="">
        {% block body %}{% endblock body %}
    </div>

    <!-- Footer -->
    <footer class="text-white fixed bottom-0 right-0">
        <div class="flex flex-col items-end">
            <button id="helpButton" class="bg-emerald-700 hover:bg-emerald-600 rounded p-2 mr-2 w-16 text-center">Help?</button>
            <p class="bg-slate-50 rounded p-2 m-2 text-slate-600 shadow-md">&copy; 2024 Doc Comparison Pro. All rights reserved.</p>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const loader = document.getElementById('loader');
            const dropdownButton = document.getElementById('dropdownButton');
            const dropdownMenu = document.getElementById('dropdownMenu');
            const aboutButton = document.getElementById('aboutButton');
            const aboutModal = document.getElementById('aboutModal');
            const closeModal = document.getElementById('closeModal');
            const helpButton = document.getElementById('helpButton');
            const helpModal = document.getElementById('helpModal');
            const closeHelpModal = document.getElementById('closeHelpModal');
            const feedbackButton = document.getElementById('feedbackButton');
            const feedbackModal = document.getElementById('feedbackModal');
            const closeFeedbackModal = document.getElementById('closeFeedbackModal');

            // Toggle dropdown menu
            dropdownButton.addEventListener('click', function () {
                dropdownMenu.classList.toggle('hidden');
            });

            // Open about modal
            aboutButton.addEventListener('click', function () {
                aboutModal.classList.remove('modal-closed');
                aboutModal.classList.add('modal-open');
            });

            // Close about modal
            closeModal.addEventListener('click', function () {
                aboutModal.classList.remove('modal-open');
                aboutModal.classList.add('modal-closed');
            });

            // Open help modal
            helpButton.addEventListener('click', function () {
                helpModal.classList.remove('modal-closed');
                helpModal.classList.add('modal-open');
            });

            // Close help modal
            closeHelpModal.addEventListener('click', function () {
                helpModal.classList.remove('modal-open');
                helpModal.classList.add('modal-closed');
            });

            // Open feedback modal
            feedbackButton.addEventListener('click', function () {
                feedbackModal.classList.remove('modal-closed');
                feedbackModal.classList.add('modal-open');
            });

            // Close feedback modal
            closeFeedbackModal.addEventListener('click', function () {
                feedbackModal.classList.remove('modal-open');
                feedbackModal.classList.add('modal-closed');
            });

            // Close modals when clicking outside
            document.addEventListener('click', function (event) {
                if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.add('hidden');
                }

                if (event.target === aboutModal) {
                    aboutModal.classList.remove('modal-open');
                    aboutModal.classList.add('modal-closed');
                }

                if (event.target === helpModal) {
                    helpModal.classList.remove('modal-open');
                    helpModal.classList.add('modal-closed');
                }

                if (event.target === feedbackModal) {
                    feedbackModal.classList.remove('modal-open');
                    feedbackModal.classList.add('modal-closed');
                }
            });

            // Hide loader on window load
            window.onload = function() {
                loader.classList.add('hidden');
            };
        });
    </script>
        
</body>
</html>
